<h1> Login </h1>


<%= flash[:message] if flash[:message] %>

<%= form_for @user, url: '/login' do |f| %>
<p>
	<%= f.label :username %>
	<%= f.text_field :username %>


	<%= f.label :password %>
	<%= f.password_field :password %> 

</p>

	<%= f.submit "Login" %>

	<%= link_to "Login with Github", "/auth/github" %>

<% end %>