<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<h1> New Comment for <%= @comment.character.name %> </h1>

<%= form_for([@comment.character, @comment]) do |f| %>
	<% if !@comment.character %>
	<%= f.label :character %>
	<%=collection_select :character_id, Character.all, :id, :title %>
	<% else %>
	<%= f.hidden_field :character_id %>
	<% end %>

	<%= f.label :content, "Comment: " %>
	<%= f.text_area :content %>
	<ul>
	<%= f.submit %>

	<% end %>