<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


<h1> <%= @user.username %>'s Profile </h1>


<h2> Current characters: </h2>
<%= characters_visibility %>

<%= render partial: "characters/characters", locals: {characters: @user.characters} %>

<br>

<h2> Comment feed: </h2>

<%= comments_visibility %>

<%= render partial: "comments/comments", locals: {comments: @user.comments} %>

</html>