<h1> <%= @user.username %>'s Profile </h1>


<h2> Your current characters: </h2>
<%= characters_visibility %>

<%= render partial: "characters/characters", locals: {characters: @user.characters} %>

<br>

<h2> Your comment feed: </h2>

<%= comments_visibility %>

<%= render partial: "comments/comments", locals: {comments: @user.comments} %>