<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


<%= form_for(@character) do |f| %>

<div class="field">
<label class="label"><%= f.label :name %></label>
<%= f.text_field :name %>
</div>


<div class="select is-multiple">
<%= f.label :gender %>
<%= f.select(:gender, ["Male", "Female", "Other"]) %>

</div>

<div class="select is-multiple">
<%= f.label :race %>
<%= f.select(:race, ["Elf", "Human", "Half Elf", "Gnome", "Dwarf", "Dragonborn", "Halfling", "Tiefling", "Aarakocra", "Genasi", "Goliath", "Aasimar", "Orc", "Half Orc"]) %>

</div>

<div class="select is-multiple">
<%= f.label :profession %>
<%= f.select(:profession, ["Bard", "Barbarian", "Cleric", "Druid", "Fighter", "Monk", "Paladin", "Ranger", "Rogue", "Sorceror", "Warlock", "Wizard","Blood Hunter"]) %>
</div>

<br>

<p></p>


<div class="form-group">
<strong><%= f.label :alignment %></strong>
<br>
<%= f.label :alignment_lawful_good, 'Lawful Good' %>
<%= f.radio_button :alignment, 'Lawful Good', :checked => true %> <br>


<%= f.label :alignment_neutral_good, 'Neutral Good' %>
<%= f.radio_button :alignment, 'Neutral Good' %> <br>

<%= f.label :alignment_chaotic_good, 'Chaotic Good' %> 
<%= f.radio_button :alignment, 'Chaotic Good' %> <br>

<%= f.label :alignment_lawful_neutral, 'Lawful Neutral' %> 
<%= f.radio_button :alignment, 'Lawful Neutral' %> <br>

<%= f.label :alignment_neutral, 'Neutral' %> 
<%= f.radio_button :alignment, 'Neutral' %> <br>

<%= f.label :alignment_chaotic_neutral, 'Chaotic Neutral' %> 
<%= f.radio_button :alignment, 'Chaotic Neutral' %> <br>

<%= f.label :alignment_neutral_evil, 'Neutral Evil' %> 
<%= f.radio_button :alignment, 'Neutral Evil' %> <br>

<%= f.label :alignment_chaotic_evil, 'Chaotic Evil' %> 
<%= f.radio_button :alignment, 'Chaotic Evil' %> <br>
</div>

<br>

<p></p>


<%= f.label :level %>
<%= f.number_field :level, max: 20, min: 1 %>

<br>

<p></p>

<div class="field">
<label class="label"><%= f.label :conditions %>(optional)</label>
<%= f.text_area :conditions %>
</div>

<div class="field">
<label class="label"><%= f.label :skills %>(optional)</label>
<%= f.text_area :skills %>
</div>









<!--- :name, :gender, :race, :profession, :alignment, :background, :level, :conditions, :skills --->



<%= f.button :submit => "Submit", class: "button is-success" %>


<% end %>


