 <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


<%= form_tag(characters_path, :method => :get) do %>
<%= label_tag(:search, "Search: ") %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag("Search", class: "button button2", :name => nil) %>
<% end %>

<%= flash[:notice] if flash[:notice] %>


<% if logged_in? %>
<h2> Current list of characters: </h2>


<% @characters.each do |char| %>

<hr> <%= link_to char.name, character_path(char) %> | <%= char.race %> | <%= char.profession %> | Level: <%= char.level %> </li>


<% end %>



<% if Character.elves.present? %>
<h2> Have you heard of the High Elves?... Well here's a list. </h2>

<% Character.elves.each do |c| %>

<hr><%= c.name %>
<% end %>


<% end %>
<% else %>

<% end %>

<br> 

