 <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


<% form_tag characters_path, :method => 'get' do %>
<p>
	<%= text_field :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
</p>
<% end %>




<% @characters.each do |char| %>
<hr><%= link_to char.name, character_path(char) %>
<% end %>



 <!--- <h1> <%= current_user.username %>'s Characters </h1>


<% @characters.each do |char| %>

<hr> <%= link_to char.name, character_path(char) %> 

<% end %>
---->
