<h1><%= @character.name %></h1>

<br>

<h2> Race </h2>
<%= @character.race %>

<h2> Profession</h2>
<%= @character.profession %>

<h2> Gender </h2>
<%= @character.gender %>

<p> </p>

<br>


<%= link_to 'Add Comment', new_character_comment_path(@character) %>

<h2><%= @character.comments.count %> Comments </h2>
<% @character.comments %>
<%= render 'comments/form' %>

<p></p>

 <% @character.comments.each do |c| %>

	<% if c.content == 0 %>
	There are no comments.
	<% else %>
	<hr>
	<%= c.user.try(:username) %> <%= c.content %>
	<% end %>

<% end %> 

