<h1><%= @character.name %></h1>

<br>

<h2> Race </h2>
<%= @character.race %>

<h2> Profession</h2>
<%= @character.profession %>

<h2> Gender </h2>
<%= @character.gender %>

<p> </p>

<br>


<%= link_to 'Add Comment', new_character_comment_path(@character) %>

<h2><%= @character.comments.count %> Comments </h2>
<% @character.comments %>
<%= render 'comments/form' %>

<p></p>

<% @comments.each do |c|%>
  <li><%= c.user.username%>: <%= c.content%>
<% end %>