<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


<h1><%= @character.name %></h1>

<p> created by <%= link_to @character.user.username, user_path(@character.user, @character) %> </p>





<div class="tile is-ancestor">
<div class="tile is-vertical is-6">
	<div class="tile">
		<div class="tile is-parent is-vertical">
			<article class="tile is-child notification is-dark">
<p class="title"> Race </p>
<p class="subtitle"><%= @character.race %></p>
</article>





<div class="tile is-child">
<div class="tile is-vertical is-6">
<article class="tile is-child notification is-info">
<p class="title"> Profession </p>
<p class="subtitle"><%= @character.profession %></p>
</article>

<article class="tile is-child notification is-primary">
<p class="title"> Gender </p>
<p class="subtitle"><%= @character.gender %></p>
</article>

<article class="tile is-child notification is-primary">
<p class="title"> Alignment </p>
<p class="subtitle"><%= @character.alignment %></p>
</article>

<div class="tile is-ancestor">
<div class="tile is-vertical is-5">
<article class="tile is-child notification is-primary">
<p class="title"> Level </p>
<p class="subtitle"><%= @character.level %></p>
</article>




<p> </p>
<br>

<% if @character.user == current_user %>
<%= link_to 'Edit this character', edit_character_path, class: "button button2" %>
<% end %>



<p></p>
<br>





<%= link_to 'Add Comment', new_character_comment_path(@character) %>

<h2><%= @character.comments.count %> Comments </h2>
<% @character.comments %>

<p></p>

 <% @character.comments.each do |c| %>

	<% if c.content == 0 %>
	<p>There are no comments.</p>
	<% else %>
	<hr>
	<%= c.user.try(:username) %>: <%= c.content %>
	<% end %>

<% end %> 




