<h1><%= @character.name %></h1>

<br>

<h2> Race </h2>
<%= @character.race %>

<h2> Profession</h2>
<%= @character.profession %>

<h2> Gender </h2>
<%= @character.gender %>

<h2> Race </h2>
<%= @character.gender %>