
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<body>

<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
         Welcome to the Dungeons and Dragons character creator!
      </h1>
      <h2 class="title">
      	Sign up today to make your own character!
      </h2>
    </div>
  </div>
</section>



<%= form_tag(characters_path, :method => :get) do %>
<%= label_tag(:search, "Search: ") %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag("Search", :name => nil) %>
<% end %>



<h2> Small list of characters people have made: </h2>


<% @characters.take(5).shuffle.each do |char| %>

<hr> <%= link_to char.name, character_path(char) %> | <%= char.race %> | <%= char.profession %> | Level: <%= char.level %>


<% end %>

</body>
