<!DOCTYPE html>
<html>
  <head>
    <title>DndRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class='clearfix'>
  <div class="left-nav">
    <ul>
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </div>
  <div class="right-nav">
    <ul>
      <li><%= link_to "Register", register_path %></li>
    </ul>
  </div>
</header>

<div class='content'>
  <%= yield %>
</div>

  </body>
</html>
